<h1> Please sign up to continue browsing our services.</h1>

<form action="<%= users_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="form_authenticity_token">

<label for="email">Enter your email.</label>
<input type="" name = "user[email]">

<br>
<br>

<label for="email">create a password.</label>
<input type="" name = "user[password]">


<button>Sign up</button>

</form>